  <nav>
  <h1>Welcome to Employee Management System</h1>  
  </nav>  

 <div> 
  <!-- This form is for Adding a employee  with it's attributes with help of event binding-->   
  <div class="container"> 
    <h4>Adding a Employee Form</h4> 
  <form #ngForm="ngForm" (ngSubmit)="AddEmployee()">   
    <div class="form-group"> 
      <label for="">EmployeeName</label> 
      <input type="text" class="form-control" id="employeename" placeholder="Enter EmployeeName" name="EmployeeName" [(ngModel)]="emp1.employeename">
    </div>
    <div class="form-group">
      <label for="">Address</label>
      <input type="text" class="form-control" id="address" placeholder="Enter Address" name="EmployeeAddress" [(ngModel)]="emp1.address">
    </div>
    <div class="form-group"> 
      <label for="">Phone</label>
      <input type="text" class="form-control" id="phone" placeholder="Enter PhoneNumber" name="PhoneNumber" [(ngModel)]="emp1.phone">
    </div>
    <div class="form-group"> 
      <label for="">Country</label>
      <input type="text" class="form-control" id="country" placeholder="Enter Country" name="Country" [(ngModel)]="emp1.country">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button> 
    <button type="reset" class="btn btn-danger">Reset</button> 
  </form> 
</div> 

 <div class="container"> 
  <!-- //creating a table for the employee with table headings and it's data-->   
  <table class="table table-primary" border="1">   
    <thead>
      <tr>
        <th scope="col">EmployeeId</th>
        <th scope="col">EmployeeName</th>
        <th scope="col">Address</th>
        <th scope="col">Phone</th>
        <th scope="col">Country</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Implementing Structural Directive like ngFor to get all the employee details --> 
      <tr class="" *ngFor="let emp of employeeList"> 
        <td scope="row">{{emp.id}}</td>
        <td>{{emp.employeename}}</td>
        <td>{{emp.address}}</td>
        <td>{{emp.phone}}</td>
        <td>{{emp.country}}</td>
        <td> 
          <!-- creating a button for edit and delete , for edit-implementing modal form  --> 
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="getdata(emp)"><i class="fa-solid fa-pen-to-square"></i>Edit</button>
          <button type="button" class="btn btn-danger" (click)="DeleteEmployee(emp.id)"><i class="fa-solid fa-trash"></i>Delete</button>   
        </td>
      </tr>
    </tbody> 
  </table> 
 </div>

<div class="modal fade" id="exampleModal" role="dialog" >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" >Updating Employee Details</h5>  
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"> 
          <span aria-hidden="true">&times;</span> 
        </button>
      </div>
      <div class="modal-body"> 
        <form #ngForm="ngForm" (ngSubmit)="UpdateEmployee()">  
          <div class="form-group">
            <label for="">EmployeeName</label> 
            <!-- Implementing Event Binding for every attribute like name,phone,country,address  -->
            <input type="text" class="form-control" id="name" placeholder="Enter EmployeeName" name="name" [(ngModel)]="currentData.employeename">  
          </div>     
          <div class="form-group">
            <label for="">Address</label>
            <input type="text" class="form-control" id="address" placeholder="Enter Address" name="Address" [(ngModel)]="currentData.address">
          </div>
          <div class="form-group">
            <label for="">Phone</label>
            <input type="text" class="form-control" id="phone" placeholder="Enter PhoneNumber" name="Phone" [(ngModel)]="currentData.phone">
          </div>
          <div class="form-group">
            <label for="">Country</label>
            <input type="text" class="form-control" id="country" placeholder="Enter Country" name="Country" [(ngModel)]="currentData.country">
          </div>
           <button type="submit"  class="btn btn-primary" >Save</button>     
           <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> 
    </form>    
  </div>   
    </div>
  </div>
</div> 
</div> 
 
 <footer>
  <p style="color:crimson">Sunil Yaswanth Copy Rights Mentioned</p>   
 </footer>
 